$background-color: #282c33;
$gray-color: #abb2bf;
$primary-color: #c778dd;
$white-color: #ffffff;
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: $background-color;
  user-select: none;
  font-family: "Fira Code";
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    align-items: center;
    font-size: 20px;
    font-weight: 600;

    .header-logo {
      width: 70px;
      height: 70px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;

      span {
        color: $white-color;
        font-size: 18px;
        font-weight: 600;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  div {
    width: auto;
    display: flex;
    color: #c2c0c0;

    span {
      color: $primary-color;
    }

    a {
      white-space: nowrap;
      text-decoration: none;
      color: $gray-color;
      width: auto;
      display: flex;
      font-weight: 100;
      font-size: 19px;
      margin-right: 4%;
    }

    :hover {
      color: $white-color;
    }

    a.active {
      color: $white-color;
    }
  }

  .side {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 4%;

    #hr {
      margin-bottom: 10px;
      background-color: $white-color;
      width: 1px;
      height: 400px;
    }

    a {
      margin-bottom: 15px;
    }
  }
}

main {
  width: 80%;
  margin-left: 10%;
  margin-top: 7%;

  .h-main {
    display: flex;

    .h-main-section-text {
      h2 {
        font-size: 30px;
        color: $white-color;

        span {
          color: $primary-color;
        }
      }

      p {
        color: $gray-color;
        margin-top: 40px;
        width: 70%;

        span {
          color: $white-color;
        }
      }
    }

    .h-main-section-image {
      width: 40%;
      position: relative;

      .h-images {
        position: relative;

        .main-img {
          position: relative;
          top: 0;
          z-index: 1;
          width: 100%;
        }

        .pattern-img {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 0;
          width: 50%;
        }

        .current-work {
          display: flex;
          justify-content: center;
          border: 1px solid $primary-color;
          width: 100%;

          position: absolute;

          p {
            color: $gray-color;
            display: flex;
            justify-content: center;
            align-items: center;

            span {
              color: $white-color;
            }

            .block {
              width: 10px;
              height: 10px;
              background-color: $primary-color;
              margin-right: 10px;
            }
          }
        }
      }
    }
  }

  .main-button {
    background-color: transparent;
    color: $white-color;
    font-size: 18px;
    width: 180px;
    height: 36px;
    border: 1px solid $primary-color;
    transition: 0.5s;
    margin-top: 10px;
    cursor: pointer;
  }

  .main-button:hover {
    background-color: $primary-color;
  }

  .h-quote {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    position: relative;
    margin-left: 20%;

    p {
      position: relative;
      align-self: flex-end;
      padding: 30px;
      width: 100%;
      border: 1px solid $white-color;
      text-align: center;
      color: $white-color;
      font-size: 30px;
      margin-bottom: 0;

      #quote-top {
        width: 30px;
        position: absolute;
        top: -10px;
        left: 20px;
      }

      #quote-bottom {
        width: 30px;
        position: absolute;
        bottom: -13px;
        right: 20px;
      }
    }

    .quote-author {
      margin-top: 0;
      width: 30%;
      border-top: 0;
      align-self: flex-end;
    }
  }
}

.heading {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  h3 {
    display: flex;
    align-self: flex-start;
    align-items: center;
    color: $white-color;

    span {
      color: $primary-color;
      margin-right: 10px;
    }

    div {
      background-color: $primary-color;
      height: 1px;
      margin-left: 30px;
    }
  }
}

.view-more {
  color: $white-color;
  text-decoration: underline;
}

.view-more:hover {
  color: $primary-color;
  cursor: pointer;
}

.p-card {
  width: 30%;
  margin: 0;

  .img {
    border: 1px solid $white-color;
    border-bottom: 0;
    width: 100%;

    img {
      border-bottom: 1px solid $white-color;
      width: 100%;
    }
  }

  .title {
    border: 1px solid $white-color;
    width: 100%;
    border-top: 0;

    p {
      margin-top: 0px;
      color: $gray-color;
    }
  }

  .header {
    width: 100%;
    border: 1px solid $white-color;
    border-top: 0;

    p {
      margin-top: 0px;
      color: $white-color;
    }
  }

  .desc {
    width: 100%;
    border: 1px solid $white-color;
    border-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      margin-top: 0;
      color: $gray-color;
      margin: 7px;
    }
  }
}

.h-projects {
  margin-top: 70px;

  .cards {
    display: flex;
    justify-content: space-between;
  }
}

.h-skills {
  margin-top: 70px;

  .content {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .patterns {
      width: 50%;

      img {
        width: 100%;
      }
    }

    .skill {
      display: grid;
      grid-template-columns: auto auto auto;
      width: 50%;
    }
  }
}

.h-about {
  margin-top: 70px;

  .content {
    display: flex;
    justify-content: space-between;
  }

  .desc {
    width: 50%;

    p {
      width: 80%;
      color: $gray-color;
      margin-bottom: 50px;
    }
  }

  .image {
    width: 50%;
    position: relative;
  }
}

.dot-pattern {
  width: 120px;
  display: grid;
  position: absolute;
  z-index: 99;
  grid-template-columns: auto auto auto auto auto;

  span {
    color: $gray-color;
    font-size: 37px;
    line-height: 22px;
  }
}

.h-contact {
  height: 40vh;

  .content {
    display: flex;
    justify-content: space-between;
    height: 100%;

    .desc {
      width: 50%;

      p {
        width: 80%;
        color: $gray-color;
      }
    }

    .links {
      width: 50%;
      display: flex;
      align-self: flex-end;
      justify-content: flex-end;

      .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 40%;
        height: 30%;
        border: 1px solid $white-color;

        p {
          color: $white-color;
        }

        .url {
          width: 60%;
          display: flex;
          align-items: center;

          a {
            color: $gray-color;
            text-decoration: none;
            margin-right: 5px;
          }
          a:hover {
            color: $white-color;
          }

          p {
            color: $gray-color;
          }
        }
      }
    }
  }
}

footer {
  height: 40vh;
  border-top: 1px solid $gray-color;
  margin-top: 10%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  p {
    color: $gray-color;
  }
  .f-main {
    display: flex;
    width: 50%;
    justify-content: space-between;
    .f-1 {
      color: $white-color;
      p {
        color: $white-color;
      }
      .ct {
        display: flex;
        justify-content: center;
        align-items: center;
        p {
          color: $white-color;
          font-size: 20px;
          font-weight: 700;
        }
        img {
          width: 40px;
        }
        a {
          color: $gray-color;
          text-decoration: none;
          margin-left: 15px;
        }
      }
    }
  }
  .f-2 {
    h3 {
      color: $white-color;
      font-family: "Fira Code";
      font-weight: 500;
    }
    .media {
      a {
        color: $gray-color;
        margin-right: 5px;
        font-size: 18px;
      }
      a:hover {
        color: $white-color;
      }
    }
  }
}
.language {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  right: 10%;
  .button {
    font-size: 15px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 50px;
    background-color: $background-color;
    border: 0;
    color: $white-color;
    cursor: pointer;
  }

  .lang-list {
    display: flex;
    flex-direction: column;
    background-color: $gray-color;
    .list-btn {
      font-size: 13px;
      font-weight: 100;
      margin-top: 5px;
      margin-bottom: 5px;
      width: 50px;
      background-color: $gray-color;
      border: 0;
      color: $white-color;
      cursor: pointer;
    }
    .active {
      text-decoration: underline;
    }
  }
}
